ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.dropdown-menu {
	max-width: 50px;
}
li {
	margin: 0;
	padding: 0;
}

.well {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: none;
}
.divlabel {
	font-size: 0.6em;
	color: #888888;
	border-bottom: 1px solid #888888;
}
.messages {
	max-height: 310px;
	overflow-y: scroll;
}

#chat {
	min-height: 420px;
	max-height: 420px;
	overflow-y: none;
	overflow-x: none; 
	padding-top: 0;
	word-wrap: break-word;
}
#userlist {
	min-height: 150px;
	max-height: 250px;
	overflow-x: none;
}
#roomlist {
	max-height: 500px;
	overflow-y: auto;
}
#private {
	padding-top: 0;
}
