<div class="container">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Choose your nick</div>
			<div class="panel-body">

				<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
					{{errorMessage}}
				</div>

				<div class="form-group">
					<label for="nickname" class="control-label">Nick-name</label>
					<input type="text" class="form-control" autofocus id="nickname" name="nickname" ng-model="nickname" />
				</div>

				<button type="button" class="btn btn-success" ng-click="login()">Enter chat</button>
			</div>
		</div>
	</div>
</div>