<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<div class="container-fluid">
	<div class="col-md-9">
		<h3>Hi {{currentUser}}</h3>
	</div>
	<div class="col-md-3">
		<button type="button" class="btn btn-danger btn-lg" ng-click="leave()">Leave</button>
	</div>
</div>

<div class="container-fluid">
	<div class="col-md-9">
		<div class="well" id="chat">
			<div class="divlabel">
				<h5>{{currentRoom}}</h5>
				<h6>Public chat</h6>
				<h6> Topic: {{currentTopic}}</h6>
			</div>
			<div class="messages">
				<ul>
					<li ng-repeat="message in msgHist">{{message.timestamp | date: 'HH:mm:ss'}}: {{message.nick}} - {{message.message}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="container-fluid">
			<h4>Ops in this room</h4>
			<div class="well">	
				<ul>
					<li ng-repeat="op in currentOps">{{op}}
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-xs" ng-click="deop(op)" >Deop</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="container-fluid">
			<h4>Users in this room</h4>
			<div class="well" id="userlist">
				<ul>
					<li ng-repeat="user in currentUsers">{{user}}
						<div class="btn-group">
							<button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
								Options <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu" >
								<li><a ng-click="op(user)">Op</a></li>
								<li><a ng-click="kick(user)">Kick</a></li>
								<li><a ng-click="ban(user)">Ban</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="container-fluid">
			<h4>Banned in this room</h4>
			<div class="well">
				<ul>
					<li ng-repeat="ban in currentBanned">{{ban}}
						<button type="button" class="btn btn-default btn-xs" ng-click="unban(ban)" >Unban</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="col-md-1">
		<select ng-options="opt for opt in selectOptions" ng-model="selectedOption"></select>
	</div>
	<div class="col-md-8">
		<div class="form-group">
			<input type="text" class="form-control" autofocus id="msgtext" name="msgtext" ng-model="msgtext"/>
		</div>
	</div>
		<div class="col-md-3">
			<div class="btn-group">
				<button type="button" class="btn btn-success" ng-click="send()">Send</button>
				<button class="btn btn-succcess dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
					Options <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu" >
					<li><a ng-click="setTopic()">Set Topic</a></li>
					<li><a ng-click="setPassword()">Set Password</a></li>
					<li><a ng-click="removePassword()">Remove Password</a></li>
				</ul>
			</div>
		</div>
</div>
<div class="container-fluid">
	<div class="col-md-9">
		<div class="well" id="private">
			<div class="divlabel">
				<h6>Private messages</h6>
			</div>
			<div class="messages">
				<ul>
					<li ng-repeat="priv in privHist">{{priv.timestamp | date: 'HH:mm:ss'}}: {{priv.nick}} - {{priv.message}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>