<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	<div class="form-group">
		<div class="col-md-3">
			<label for="passprompt" class="control-label">{{errorMessage}} </label>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-7">
			<input type="password" class="form-control" autofocus id="passprompt" name="passprompt" ng-model="passprompt" />
		</div>
	</div>
	<button type="button" ng-click="join(roomtried)">Join</button>
</div>

<h3>Hi {{currentUser}}</h3>
<div class="well" id="roomlist">
	<div class="divlabel">
		<h6>Active rooms:</h6>
	</div>
	<ul ng-repeat="room in rooms">
		<li><a ng-click="join(room)">{{room}}</a></li>
	</ul>
	<div class="form-group">
		<div class="col-md-3">
			<label for="roomname" class="control-label">Create room</label>
		</div>
		<div class="col-md-7">
			<input type="text" class="form-control" id="roomname" name="roomname" ng-model="roomname" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-3">
			<label for="roompass" class="control-label">Password</label>
		</div>
		<div class="col-md-7">
			<input type="password" class="form-control" id="roompass" name="roompass" ng-model="roompass" />
		</div>
	</div>
	<button type="button" class="btn btn-default" ng-click="create()">Create</button>
</div>